app:
  name: go-grpc-boilerplate
  desc: Services of Wallet System in go-grpc-boilerplate
  port: 3939
  env: development
  prefork: false
  auwi: 5
  timeZone: "Asia/Manila"
  programFile: /usr/sbin/go-grpc-boilerplate
  workingDir: /Users/yoga/new-journey/go-grpc-boilerplate

# stg aws
database:
  host: 
  port: 
  user: 
  password: 
  name: 
  dialect: postgres

  resolver:
    sources:
      - host: 
        port: 
        user: 
        password: 
        name: 
        dialect: postgres
        identifier: mcs_log

    replicas:

  tools:
    - host: 
      port: 
      user: 
      password: 
      name: 
      dialect: postgres

cache:
  redis:
    host: 127.0.0.1
    port: 6379
    password: 
    database: 1
    maxRetries: 3
    poolSize: 9

queue:
  option:
    concurrency: 50
    shutdownTimeout: 10
    healthCheckInterval: 15
    strictPriority: true

  redis:
    host: 127.0.0.1
    port: 6379
    password: 
    database: 0
    maxRetries: 3
    poolSize: 9

kafka:
  servers:
    - localhost:9092